
/AJZReportViewer/.vs
/packages
/JzScreenPoints/obj
/JzScreenPoints/bin
/JzOCR/bin
/AJZReportViewer/bin
/AJZReportViewer/obj
/Allinone/bin
/Allinone/obj
/JetEazy.OpenCv4/bin
/JetEazy.OpenCv4/obj
/JetEazy/.vs
/JetEazy/bin
/JetEazy/obj
/JzASN/bin
/JzASN/obj
/JzDisplay/bin
/JzDisplay/obj
/JzDisplayLT/bin
/JzDisplayLT/obj
/JzDlls
/JzKHC/bin
/JzKHC/obj
/JzMeasure/bin
/JzMeasure/obj
/JzOCR/obj
/ServiceMessageClass/obj
/ServiceMessageClass/bin
/MotoRs485
/JzASN/.vs
